
@{
    ViewBag.Title = "SelectTeam";
}

@using (Html.BeginForm("SelectTeam", "LeagueTable", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>Select a Team to Follow</h2>
@*    <input class="typeahead" id="followingTeam" type="text" placeholder="Team to Follow">*@
    <select id="followingTeam">
        <option></option>
        <option>MK Dons</option>
    </select>

    <h2>Select a Rival Team to Follow</h2>
@*    <input class="typeahead" id="rivalTeam" type="text" placeholder="Rival Team">*@
    <select id="rivalTeam">
        <option></option>
        <option>MK Dons</option>
    </select>
}