@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Team Tracker</h1>
    <p class="lead">Keep track of the latest progress of your favourite sports team.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MK ARMY!</h2>
        <p>
            Milton Keynes Dons Football Club is an English football club based since 2007 at Stadium mk, Milton Keynes, Buckinghamshire.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>