@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron" id="banner">
    <h1>Team Tracker</h1>
    <p class="lead">Keep track of the latest progress of your favourite sports team.</p>
    <p>@Html.ActionLink("Get Started", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MK ARMY!</h2>
        <p>
            Milton Keynes Dons Football Club is an English football club based since 2007 at Stadium mk, Milton Keynes, Buckinghamshire.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manager ins and outs</h2>
        <p>Track the managerial ins and outs and a list of every boss in the top five leagues in England and the Scottish Premiership.</p>
    </div>
    <div class="col-md-4">
        <h2>Who's out and who's in?</h2>
        <p>Who is through, who is out, who the English teams could face and how records have tumbled in this season's group phase.</p>
    </div>
</div>